{% extends 'base.html' %}
{% load static %}
<html lang="en">

<body>
{% block content %}
    <div class="tm-hero d-flex justify-content-center align-items-center" data-parallax="scroll" data-image-src="{% static 'img/hero.jpg' %}">
        <form class="d-flex tm-search-form">
            <input class="form-control tm-search-input" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success tm-search-btn" type="submit">
                <i class="fas fa-search"></i>
            </button>
        </form>
    </div>

    <div class="container-fluid tm-container-content tm-mt-60">
        <div class="row mb-4">
            <h2 class="col-12 tm-text-primary">{{ post.title }}</h2>
        </div>
        <div class="row tm-mb-90">
            <div class="col-xl-8 col-lg-7 col-md-6 col-sm-12">
                <img src="{{ post.image.url }}" style="width: 1300px;height: 700px;object-fit: cover;object-position: center;" alt="Image" class="img-fluid">
            </div>
            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <div class="tm-bg-gray tm-video-details">
                    <p class="mb-4">
                      {{ post.description }}
                    </p>
                    <div class="text-center mb-5">
                        <a href="#" class="btn btn-primary tm-btn-big">Download</a>
                    </div>
                    <div class="mb-4 d-flex flex-wrap">
                        <div class="mr-4 mb-2">
                            <span class="tm-text-gray-dark">Категория: </span><span class="tm-text-primary">{{ post.category }}</span>
                        </div>
                        <div class="mr-4 mb-2">
                            <span class="tm-text-gray-dark">Состояние: </span><span class="tm-text-primary">{{ post.get_condition_display }}</span>
                        </div>
                    </div>
                    <div class="mb-4">
                        <h3 class="tm-text-gray-dark mb-3">Цена: {{ post.price }} сом</h3>
                    </div>
                    <div>
                        <h3 class="tm-text-gray-dark mb-3">Продавец: {{ post.user }}</h3>
                        <a href="#" class="tm-text-primary mr-4 mb-2 d-inline-block">Номер телефона: {{ post.phone_number }}</a>

                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="text-center mb-5">
                <a href="{% url 'delete' post.id %}" class="btn btn-primary tm-btn-big">Удалить</a>
            </div>
            <h2 class="col-12 tm-text-primary">
                Related Photos
            </h2>
        </div>
        <div class="row mb-3 tm-gallery">
            <form action="." method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Сохранить</button>
            </form>
        </div> <!-- row -->
    </div> <!-- container-fluid, tm-container-content -->
{% endblock %}
</body>
</html>